---

- name: Checkout git repository for dehydrated
  git: repo=https://github.com/lukas2511/dehydrated.git dest={{dehydrated_basedir}} update={{dehydrated_updategit}}
  run_once: "{{dehydrated_run_once}}"
  tags:
    - dehydrated
    - dehydrated-git

- name: Create dehydrated directories
  file: state=directory path={{item}}
  with_items:
    - "{{dehydrated_basedir}}"
    - "{{dehydrated_configdir}}"
    - "{{dehydrated_certsdir}}"
    - "{{dehydrated_accountsdir}}"
    - "{{dehydrated_wellknown}}"
  run_once: "{{dehydrated_run_once}}"
  tags:
    - dehydrated
    - dehydrated-dirs

- name: Template dehydrated config files
  template: src="{{item}}.j2" dest="/config/dehydrated/{{item}}" owner=root group=root
  with_items:
    - config
    - domains.txt
  run_once: "{{dehydrated_run_once}}"
  tags:
    - dehydrated
    - dehydrated-domains.txt

- name: Create local.sh config file
  file: state=touch path="{{dehydrated_configdir}}/local.sh" mode=0755
  changed_when: false
  run_once: "{{dehydrated_run_once}}"
  tags:
    - dehydrated
    - dehydrated-local

- name: Create account key and accept terms
  command: creates="{{dehydrated_accountsdir}}/*/account_key.pem" {{dehydrated_basedir}}/dehydrated --register --accept-terms
  run_once: "{{dehydrated_run_once}}"
  tags:
    - dehydrated
    - dehydrated-account

- name: Enable cronjob for dehydrated
  cron:
    name: "dehydrated"
    user: root
    cron_file: dehydrated
    special_time: "{{ dehydrated_cronjob_frequency }}"
    job: >-
        "{{dehydrated_basedir}}/dehydrated --cron > {{dehydrated_updatelog}} 2>&1
        && {% for service in dehydrated_reload_services %}service {{ service }} reload;{% endfor %}"
  when: dehydrated_cronjob|bool
  run_once: "{{dehydrated_run_once}}"
  tags:
    - dehydrated
    - dehydrated-cron

- name: Create apache2 config file
  template: src="dehydrated.conf" dest="{{dehydrated_apache2dir}}/conf-available/dehydrated.conf" owner=root group=root mode=0644
  when: dehydrated_apache2|bool
  run_once: "{{dehydrated_run_once}}"
  tags:
    - dehydrated
    - dehydrated-apache2

- name: Enable apache2 config
  file: state=link src="{{dehydrated_apache2dir}}/conf-available/dehydrated.conf" dest="{{dehydrated_apache2dir}}/conf-enabled/dehydrated.conf"
  when: dehydrated_apache2_enable|bool
  run_once: "{{dehydrated_run_once}}"
  tags:
    - dehydrated
    - dehydrated-apache2
