---

- name: Template nginx site-config
  template:
    src: "nginx-default.j2"
    dest: "{{dehydrated_nginxdir}}/sites-available/default"
    owner: root
    group: root
    mode: "0644"
  when:
    - dehydrated_nginx|bool
  run_once: "{{dehydrated_run_once}}"
  tags:
    - dehydrated
    - dehydrated-nginx

- name: Enable nginx default site
  file:
    state: "link"
    src: "{{dehydrated_nginxdir}}/sites-available/default"
    dest: "{{dehydrated_nginxdir}}/sites-enabled/default"
  when:
    - dehydrated_nginx_enable|bool
  run_once: "{{dehydrated_run_once}}"
  tags:
    - dehydrated
    - dehydrated_nginx
