# {{ ansible_managed }}

server {
	listen 80;
	listen [::]:80 default_server ipv6only=on;
	server_name {{inventory_hostname}};

	location ^~ /.well-known/acme-challenge {
		alias /var/lib/dehydrated/acme-challenges;
	}
	location / {
		return 301 https://$host$request_uri;
	}
}

